header {
    background-color: black;
    position: fixed;
    z-index: 99;
    height: 70px;
    width: 100%;
    
}

body {
    font-family: 'Kodchasan', sans-serif;
    background-color: rgb(238, 238, 238);
    background-image: url("https://wallpaperset.com/w/full/f/e/0/287435.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.NS {
    font-size: 50px;
    margin: 0px;
    color: rgb(238, 238, 238);
    padding-left: 5px;
}

.logo {
    height:70px;
    width: 70px;
    border-radius: 99px;
    
    float: left;
}

#newsCont {
    
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.849);
    color: rgb(235, 235, 235);
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 15px;
    
}

#topBox {
    background-image: url("http://inn.spb.ru/images/100/DSC100199173.jpg");
   padding-top: 10px;
    background-size: inherit;
    text-align: center;
    color: rgb(236, 236, 236);
    border-radius: 80px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.685);
    
}

.image {
    height:500px;
    width: 1100px;
    border-radius: 50px;
}

#titleBox {
    background-color: rgba(0, 0, 0, 0.418);
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 10px;
    padding-bottom: 0px;
    margin: 0px;
    border-radius: 99px;
}

.welcome {
    font-size: 30px;
}

.title {
    font-size: 75px;
}

.webApp {
    font-size: 25px;
}

hr {
    background-color: white;
    font-weight: bolder;
   
}

.img1 {
    height: 350px;
    width: 350px;
    padding-left: 0px;
    padding-bottom: 10px;
}

.story1 {
    padding: 20px;
    font-size: 22px;
}

