<header>
    <div class="head">

        <div class="row">
            <div class="col-lg-4">

                <img class="logo" src="https://media.giphy.com/media/DU4A3qMuAq1dC/giphy.gif">
                <a href="index.html">
                    <h1 class="NS">News Scraper</h1>
                </a>

            </div>

            <div class="col-lg-8">



            </div>


        </div>

    </div>

</header>
<br><br><br><br><br>



<div class="container" id="topBox">
    <div class="row">
        <div class="col-md-12">

            <h6 class="welcome">Welcome To</h6>

            <h1 class="title">| News Scraper |</h1>
            <div class="container">
                <hr class="titleHR">
            </div>
            <br>
            <h3 class="webApp">A web app that lets users view and leave comments on the latest news</h3>
            <br>
            <hr class="webAppHR">
            <br>

        </div>
    </div>

</div>
<br>
<hr class="underHR">
<br><br>
<button class="scrape">| Scrape New Articles |</button>

<a href="saved.handlebars"><button class='savedA'>| View Saved Articles
        |</button></a>
<br><br><br>
<hr class="underHR">

<div class="container">

</div>

<br><br>

<div class="container" id="newsCont">


    <h1 class="headline">Headline 1</h1>

    <hr class="HLhr">
    <button class="saveButt2">| Save Article |</button>



    <p class="story1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto voluptas porro nam optio ad
        eaque repellat omnis, eum fugit nemo blanditiis corrupti dolor culpa explicabo dolores. Error ut eligendi
        pariatur!</p>

    <button id="leaveComment" class="comment">| Leave Comment |</button>
    <span id="commentInput">
        <input class="commentInput"><button class="submitButt" type="submit">Submit</button>
    </span>
    <button id="viewComments" class="saveButt">| View Comments |</button>

    <br><br>

    <h1 class="commentTitle"><u>Comments</u></h1>
    <div id="commentArea">
        <table class="table table-sm text-center" id=tableText>
            <p class="userComment"> This is a comment </p>
            <hr class="HLhr2">
            <p class="userComment">This is a comment</p>
            <hr class="HLhr2">
            <p class="userComment"> This is a comment </p>
            <hr class="HLhr2">
            <p class="userComment">This is a comment</p>
            <hr class="HLhr2">
        </table>
    </div>
</div>


<br>
<hr class="underCommentsHR">
<br>
<div class="container" id="newsCont">


    <h1 class="headline">Headline 2</h1>

    <hr class="HLhr">
    <button class="saveButt2">| Save Article |</button>



    <p class="story1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto voluptas porro nam optio ad
        eaque repellat omnis, eum fugit nemo blanditiis corrupti dolor culpa explicabo dolores. Error ut eligendi
        pariatur!</p>

    <button id="comment" class="comment">| Leave Comment |</button>
    <input class="commentInput"><button class="submitButt" type="submit">Submit</button>
    <button id="saveButt" class="saveButt">| View Comments |</button>

    <br><br>

    <h1 class="commentTitle"><u>Comments</u></h1>

    <table class="table table-sm text-center" id=tableText>
        <p class="userComment"> This is a comment </p>
        <hr class="HLhr2">
        <p class="userComment">This is a comment</p>
        <hr class="HLhr2">
        <p class="userComment"> This is a comment </p>
        <hr class="HLhr2">
        <p class="userComment">This is a comment</p>
        <hr class="HLhr2">
    </table>
</div>






<hr class="underHR">




