<header>
    <div class="head">

        <div class="row">
            <div class="col-lg-4">

                <img class="logo" src="https://media.giphy.com/media/DU4A3qMuAq1dC/giphy.gif">

                <h1 class="NS">News Scraper</h1>


            </div>

            <div class="col-lg-8">



            </div>


        </div>

    </div>

</header>
<br><br><br><br><br>



<div class="container" id="topBox">
    <div class="row">
        <div class="col-md-12">

            <h6 class="welcome">Welcome To</h6>

            <h1 class="title">| News Scraper |</h1>
            <div class="container">
                <hr class="titleHR">
            </div>
            <br>
            <h3 class="webApp">A web app that lets users view and comment on news headlines of the 1930's</h3>
            <br>
            <hr class="webAppHR">
            <br>

        </div>
    </div>

</div>
<br>
<hr class="underHR">
<br>
<hr class="underHR1">
<hr class="underHR2">
<hr class="underHR3">
<hr class="underHR4">
<hr class="underHR5">
<hr class="underHR6">
<hr class="underHR7">
<hr class="underHR8">
<hr class="underHR9">
<hr class="underHR10">
<hr class="underHR11">
<br>

<div class="container" id="topBox">

    <h3 class="webApp">By the 1930s the radio was becoming a staple in many American homes. For the first time, citizens
        did not have to wait until the evening paper to get the latest news -- radios brought breaking news right into
        people's living rooms. The airwaves carried talk about jobs and the economy during the Great Depression, but
        Americans also heard news about incredible advances in science and technology, celebrities of aviation
        exploration, and political changes afoot in Europe. Read more about some of the breaking news events of the
        1930s below.</h3>
    <br>
    <hr class="webAppHR">
    <br>

</div>
<br><br>
<hr class="underHR11">
<hr class="underHR10">
<hr class="underHR9">
<hr class="underHR8">
<hr class="underHR7">
<hr class="underHR6">
<hr class="underHR5">
<hr class="underHR4">
<hr class="underHR3">
<hr class="underHR2">
<hr class="underHR1">
<br>
<hr class="underHR">
<br><br>
<button class="scrape">| Scrape New Articles |</button>

<a href="saved.handlebars"><button class='savedA'>| View Saved Articles
        |</button></a>
<br><br><br>
<hr class="underHR">

<div class="container">

</div>

<br><br>
<div id="holder">
<div class="container" id="newsCont">


    <h1 class="headline">Date</h1>

    <hr class="HLhr">
    <button class="saveButt2">| Save Article |</button>



    <p class="story1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto voluptas porro nam optio
        ad
        eaque repellat omnis, eum fugit nemo blanditiis corrupti dolor culpa explicabo dolores. Error ut eligendi
        pariatur!</p>

    <button id="leaveComment" class="comment">| Write a Comment |</button>
    <span id="commentInput">
        <input class="commentInput"><button onclick='showCommentArea()' class="submitButt" type="submit">Submit</button>
    </span>



    <br><br>
    <div id="commentArea">
        <span>

            <h1 class="commentTitle"><u>Comments</u></h1>


        </span>
        <p class="userComment"></p>


        <hr>
    </div>
</div>
</div>




<br>
<hr class="underCommentsHR">
<br>