
    <header>
        <div class="head">

            <div class="row">
                <div class="col-lg-4">

                    <img class="logo" src="https://media.giphy.com/media/DU4A3qMuAq1dC/giphy.gif">
                   
                        <h1 class="NS">News Scraper</h1>
                    

                </div>

                <div class="col-lg-8">



                </div>


            </div>

        </div>

    </header>
    <br><br><br><br><br>



    <div class="container" id="topBox">
        <div class="row">
            <div class="col-md-12">

                <h6 class="welcome">Welcome To</h6>

                <h1 class="title">| News Scraper |</h1>
                <div class="container">
                    <hr class="titleHR">
                </div>
                <br>
                <h3 class="webApp">A web app that lets users view and comment on news headlines of the 1930's</h3>
                <br>
                <hr class="webAppHR">
                <br>

            </div>
        </div>

    </div>
    <br>
    <hr class="underHR">
    <br><br>
    <button class="scrape">| Scrape New Articles |</button>

    <a href="saved.handlebars"><button class='savedA'>| View Saved Articles
            |</button></a>
    <br><br><br>
    <hr class="underHR">

    <div class="container">

    </div>

    <br><br>

    <div class="container" id="newsCont">


        <h1 class="headline">Headline 1</h1>

        <hr class="HLhr">
        <button class="saveButt2">| Save Article |</button>



        <p class="story1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto voluptas porro nam optio
            ad
            eaque repellat omnis, eum fugit nemo blanditiis corrupti dolor culpa explicabo dolores. Error ut eligendi
            pariatur!</p>

        <button id="leaveComment" class="comment">| Write a Comment |</button>
        <span id="commentInput">
            <input class="commentInput"><button onclick='showCommentArea()' class="submitButt" type="submit">Submit</button>
        </span>
        <button id="viewComments" class="saveButt">| View Comments |</button>
        

        <br><br>
        <div id="commentArea">
            <span>
                <button id="closeComments">| Close Comments |</button>
            <h1 class="commentTitle"><u>Comments</u></h1>

            
            </span>
            <p class="userComment"></p>

            
            <hr>
        </div>
    </div>


    <br>
    <hr class="underCommentsHR">
    <br>






    

