<header>

    <div class="row">
        <div class="col-lg-4">

            <img class="logo" src="https://media.giphy.com/media/8G7KH4VvaBig/giphy.gif">
            <a href="index.html">
                <h1 class="NS">News Scraper</h1>
            </a>

        </div>

        <div class="col-lg-8">



        </div>


    </div>

</header>
<br><br><br><br><br>

<button class="scrape">| Scrape New Articles |</button>

<a href="saved.handlebars"><button class='savedA'>| View Saved Articles
        |</button></a>
<br><br>

<div class="container" id="topBox">
    <div class="row">
        <div class="col-md-12">

            <h6 class="welcome">Welcome To</h6>

            <h1 class="title">News Scraper</h1>
            <hr>
            <br>
            <h4 class="webApp">A web app that lets users view and leave comments on the latest news</h4>
            <br><br>

        </div>
    </div>

</div>

<br>
<div class="container">
    <hr>
</div>

<br><br>

<div class="container" id="newsCont">

    <h1>Headline 1</h1>
    <hr>



    <p class="story1">{{sdfg}}</p>


</div>
<div class="container">
    <hr>
</div>


</body>

</html>