header {
    background-image: url("https://i.pinimg.com/originals/dc/c3/09/dcc30928f7de36cb88eeba49122cac3a.jpg");
    position: fixed;
    z-index: 99;
    height: 70px;
    width: 100%;
    color: black;
    
    
    
}

body {
    /* font-family: 'Kodchasan', sans-serif; */
    font-family: 'IM Fell English SC', serif;
    background-color: rgb(230, 230, 230);
    background-image: url("http://cdn.wallpapername.com/2560x1600/20121026/men%20grayscale%20actors%20british%20newspapers%20michael%20caine%202560x1600%20wallpaper_www.wallpapername.com_3.jpg");
    background-size: cover;
    background-attachment: fixed;
    color: black;
}

.NS {
    font-size: 55px;
    margin: 0px;
    color: rgb(0, 0, 0);
    padding-left: 5px;
    font-weight: bold;
    font-family: 'IM Fell English SC', serif;
    padding-top: 5px;
    
}

.logo {
    height:70px;
    width: 70px;
    border-radius: 300px;
    
    
    float: left;
}

#newsCont {
    
    border-radius: 20px;
    background-image: url("https://i.pinimg.com/originals/dc/c3/09/dcc30928f7de36cb88eeba49122cac3a.jpg");
    color: black;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 15px;
    font-family: 'IM Fell English SC', serif;
    
}

#topBox {
    background-image: url("https://i.pinimg.com/originals/dc/c3/09/dcc30928f7de36cb88eeba49122cac3a.jpg");
   padding-top: 10px;
    background-size: inherit;
    text-align: center;
    color: rgb(0, 0, 0);
    border-radius: 20px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0);
    font-family: 'IM Fell English SC', serif;
    
    
}


.image {
    height:500px;
    width: 1100px;
    border-radius: 50px;
}

#titleBox {
    background-color: rgba(0, 0, 0, 0.418);
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 10px;
    padding-bottom: 0px;
    margin: 0px;
    border-radius: 99px;
}

.welcome {
    font-size: 30px;
}

.title {
    font-size: 75px;
}

.webApp {
    font-size: 35px;
}

hr {
    background-color: rgb(0, 0, 0);
    font-weight: bolder;
    height: 3px;
    border-radius: 10px;
    
   
}

.img1 {
    height: 350px;
    width: 350px;
    padding-left: 0px;
    padding-bottom: 10px;
}

.story1 {
    padding: 20px;
    font-size: 35px;
    font-weight: bold;
}

 .home {
    font-size: 25px;
    
   color: rgb(233, 233, 233);
    padding: 5px;
    border-radius: 10px;
    margin: 0px;
    font-size: 30px;
    margin: 0px;
    color: rgb(238, 238, 238);
    padding-left: 5px;
    float: right;
    margin-right: 10px;
    margin-top: 5px;
}

.scrape {
    font-size: 45px;
    background-image: url("https://i.pinimg.com/originals/dc/c3/09/dcc30928f7de36cb88eeba49122cac3a.jpg");
    color: rgb(0, 0, 0);;
     padding: 5px;
     border-radius: 10px;
     margin: 0px;
     
     margin: 0px;
     border-color: rgba(0, 0, 0, 0);
     margin-left: 100px;
     padding: 7px;
     border-style: solid;
     font-weight: bold;
}

.savedA {
    font-size: 45px;
    background-image: url("https://i.pinimg.com/originals/dc/c3/09/dcc30928f7de36cb88eeba49122cac3a.jpg");
    color: black;
     padding: 5px;
     border-radius: 10px;
     margin: 0px;
     
     margin: 0px;
     font-weight: bold;
     margin-right: 100px;
     padding: 7px;
     float: right;
     border-style: solid;
     border-color: rgba(0, 0, 0, 0);
}

@font-face {
    font-family: 'oldnewspapertypesregular';
    src: url('oldnewspapertypes-webfont.woff2') format('woff2'),
         url('oldnewspapertypes-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* .head {
    background-color: rgba(0, 0, 0, 0.384);
} */

.titleHR {
    background-color: rgb(0, 0, 0);
    font-weight: bolder;
    height: 3px;
    width: 700px;
}

.webAppHR {
    background-color: rgb(0, 0, 0);
    
    height: 1px;
    width: 300px;
}

.underHR {
    height: 2px;
    width: 2300px;
}

.comment {
    cursor: crosshair;
    font-size: 25px;
    background-image: url("https://i.pinimg.com/originals/dc/c3/09/dcc30928f7de36cb88eeba49122cac3a.jpg");
   font-weight: bold;
   
}

.headline {
    font-weight: bold;
    font-size: 50px;
    
}

.HLhr {
    height: 2px;
}

.HLhr2 {
    height: 1px;
}


.saveButt {
    
        cursor: crosshair;
        font-size: 25px;
        background-image: url("https://i.pinimg.com/originals/dc/c3/09/dcc30928f7de36cb88eeba49122cac3a.jpg");
       font-weight: bold;
       float: right;
       
       
    }

    .saveButt2 {
    
        cursor: crosshair;
        font-size: 25px;
        background-image: url("https://i.pinimg.com/originals/dc/c3/09/dcc30928f7de36cb88eeba49122cac3a.jpg");
       font-weight: bold;
       float: right;
       margin-bottom: 10px;
       
    }


    .commentInput {
        background-image: url("https://i.pinimg.com/originals/dc/c3/09/dcc30928f7de36cb88eeba49122cac3a.jpg");
        font-size: 25px;
        font-weight: bold;
        border-style: solid;
        border-color: rgba(0, 0, 0, 0.384);
        margin-left: 10px;
    }

    .submitButt {
        font-size: 25px;
        background-image: url("https://i.pinimg.com/originals/dc/c3/09/dcc30928f7de36cb88eeba49122cac3a.jpg");
        font-weight: bold;
        margin-left: 10px;
    }


.commentTitle {
    text-align: center;
    font-size: 45px;
    font-weight:bold;
}

.userComment {
    font-size: 30px;
    
}
    


